services:
  mailcatcher:
    image: dockage/mailcatcher:0.9.0
    container_name: docker-images_mailcatcher
    ports:
      - "1080:1080"
      - "1025:1025"
  postgres:
    image: postgres:16
    container_name: docker-images_postgres
    environment:
      TZ: Asia/Seoul
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: wjdtlr21
    ports:
      - "15432:5432"
    volumes:
      - ${DATA_DIR}/postgres:/var/lib/postgresql/data:delegated
  mysql:
    image: mysql:8.0.33
    container_name: docker-images_mysql
    environment:
      MYSQL_ROOT_PASSWORD: wjdtlr21
      MYSQL_USER: joungsik
      MYSQL_PASSWORD: wjdtlr21
    ports:
      - "13306:3306"
    volumes:
      - ${DATA_DIR}/mysql:/var/lib/mysql
